body {
  margin: auto;
  text-align: center;
  padding: 20px;
}
header {
  font-size: 30px;
  }
div {
  display: inline-block;
  padding: 10px;
}
ol {
  text-align:start; 
  margin-left: 10%;
  font-size: 20px;
}